body{
  margin: 50px;
}
#Img_redonda
{
  height: 200px;
  height: 150px;
  left: 300px;
  right: 300px;
  border-radius: 50%;
  border: 5px solid #069;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
 }

body{
  width: 85%;
 color: #069;
 min-height: 100vh;
 font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hr_01{
  border-top: medium dashed #069;
	border-bottom: medium dashed #069;
	height: 4px;
  overflow: visible;
	padding: 1;
	text-align: left;
} 
body{
  background-color: rgb(0, 0, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #000000;
    box-shadow: 0px 3px 10px #000000;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #069;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #069;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #069;
}

.login-button button a {
    text-decoration: none;
    color: #069;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}



